<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHpNf1ZPw6q4Jz59lFbJiCUuElflTB1qI</string>
	<key>GCM_SENDER_ID</key>
	<string>826202514107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SE.ShutterSpace</string>
	<key>PROJECT_ID</key>
	<string>shutterspace-80806</string>
	<key>STORAGE_BUCKET</key>
	<string>shutterspace-80806.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826202514107:ios:cbe96a4670d124daf23f9e</string>
	<key>DATABASE_URL</key>
	<string>https://shutterspace-80806-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>